html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1248px;
}

/*----HEADER----*/
#header {
    border-bottom: 1px solid #CCC;
    padding: 30px 0;
}

#header .container {
    display: flex;
}

#header .header-logo {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
}

#header .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

#header .right .knopki {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .right .knopki a {
    color: #000;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
}

#header .right .knopki .fourbuttons a {
    margin-right: 30px;
    border-bottom: 1px solid #000;
}

#header .right .knopki .otzivi,
#header .right .knopki .auth {
    align-items: center;
    display: flex;
}

#header .right .knopki .otzivi {
    margin: 0 auto;
}

#header .right .knopki .otzivi img,
#header .right .knopki .auth img {
    margin-right: 10px;
    height: 25px;
}

#header .right form {
    align-items: center;
    border: 2px solid rgb(255, 187, 0);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#header .right input[type="search"] {
    background: transparent;
    border: 0;
    color: #000;
    flex-grow: 1;
    outline: none;
    padding: 10px;

}

#header .right form>a>i {
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

/*----HEADER----*/


/*----MAIN CONTENT----*/

#menushka {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    margin: 0 -20px;
    padding: 0;
}

#menushka li {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
}

#menushka>li:first-child,
#menushka>li:last-child {
    flex-grow: 0;
    flex-shrink: 0;
}

#menushka>li:hover {
    background-color: #CCC;
}

#menushka>li:hover .submenu {
    display: block;
}

#menushka a {
    text-decoration: none;
    color: #000;
    display: block;

}

#menushka>li>a {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#menushka .submenu {
    background: #CCC;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    margin-top: 56px;
    margin-left: -40px;
    z-index: 100;
}

#menushka ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#menushka .submenu ul li {
    background-color: #CCC;
    padding: 0;
}

#menushka .submenu ul li a {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#menushka .submenu ul li:hover {
    background-color: orange;
}

#menushka .submenu ul li .text {
    font-size: 13px;
}

/******HOME-CONTENT--------*/
#home-slider {
    overflow: hidden;
}

#home-slider .owl-dots {
    align-items: center;
    bottom: 25px;
    display: flex;
    justify-content: center;
    height: 13px;
    position: absolute;
    width: 100%;
}

#home-slider .owl-dots button {
    background: #b0b0b0;
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: unset;
    margin: 0 7px;
    width: 9px;
    height: 9px;
    transition: all .15s ease-in;
    outline: none;
}

#home-slider .owl-dots button.active,
#home-slider .owl-dots button:hover {
    background: #ffc608;
    border-color: #FFF;
    height: 13px;
    width: 13px;
    margin: 0 5px;
}

/* 
#home-slider a img {
    width: 100%;
    height: auto;
}

#home-slider .slick-dots {
    bottom: 25px;
    z-index: 100;
}

#home-slider .slick-dots li button {
    width: 30px;
    height: 30px;
}

#home-slider .slick-dots li button:before {
    color: red;
    width: 30px;
    height: 30px;
    font-size: 16px;
}

#home-slider .slick-dots li.slick-active button:before {
    color: blue;
    font-size: 20px;
} */

.ispuda {
    color: #000;
}

.three-buttons {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.three-buttons a {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.three-buttons a:first-child {
    border: solid #CCC 1px;
}

.three-buttons a:hover {
    border: solid #CCC 1px;
}

.block-games-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.block-games-list .block-game {
    box-sizing: border-box;
    color: #000;
    margin: 0 10px 20px;
    position: relative;
    text-decoration: none;
    width: calc(20% - 20px);
    overflow: hidden;

}

.block-games-list .block-game .image {
    display: block;
}

.block-games-list .block-game .image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

.block-games-list .block-game .card-bottom {
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    transition: all .25s ease-in;
    position: absolute;
    z-index: 1;
}
.block-games-list .block-game:hover .card-bottom{
    bottom: -100px;
    opacity: 0;
}

.block-games-list .block-game .card-bottom>* {
    padding: 7px 14px;
}

.block-games-list .block-game .card-bottom .card-price {
    background: #FFF;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.block-games-list .block-game .card-bottom .card-sale {
    background: #ffc608;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000;
}

.block-games-list .block-game::before{
    background: rgba(0,0,0,0);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all .25s ease-in;
    bottom: 0;
    z-index: 2;
}
.block-games-list .block-game:hover::before{
    background: rgba(0,0,0,.7);
}


.block-games-list .block-game .card-hover-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
    transition: all .25s ease-in;
    z-index: 3;
    opacity: 0;

}
.block-games-list .block-game:hover .card-hover-title{
    opacity: 1;
}
.block-games-list .block-game .card-hover-price{
    background: #ffc608;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    transition: all .25s ease-in;
    z-index: 3;
    padding: 5px 10px;
    border-radius: 20px;
    opacity: 0;

}
.block-games-list .block-game:hover .card-hover-price{
    opacity: 1;
    bottom: 60px;
}

/* 

.block-games-list .block-game .card img{
    width: 250px;
    height: auto;
}

.block-games-list .block-game .card .card-bottom{
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.block-games-list .block-game .card .card-bottom .card-price{
    background-color: #FFF;
    padding: 7px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.block-games-list .block-game .card .card-bottom .card-sail{
    background-color: #ffc608;
    padding: 7px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.block-games-list .block-game .card .card-hover{
    display: none;
} */