@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic');

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1248px;
}

/*----HEADER----*/
#header {
    border-bottom: 1px solid #CCC;
    padding: 30px 0;
}

#header .container {
    display: flex;
}

#header .header-logo {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
}

#header .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

#header .right .knopki {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .right .knopki a {
    color: #000;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
}

#header .right .knopki .fourbuttons a {
    margin-right: 30px;
    border-bottom: 1px solid #000;
}

#header .right .knopki .otzivi,
#header .right .knopki .auth {
    align-items: center;
    display: flex;
}

#header .right .knopki .otzivi {
    margin: 0 auto;
}

#header .right .knopki .otzivi img,
#header .right .knopki .auth img {
    margin-right: 10px;
    height: 25px;
}

#header .right form {
    align-items: center;
    border: 2px solid rgb(255, 187, 0);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#header .right input[type="search"] {
    background: transparent;
    border: 0;
    color: #000;
    flex-grow: 1;
    outline: none;
    padding: 10px;

}

#header .right form>a>i {
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

/*----HEADER----*/


/*----MAIN CONTENT----*/

#menushka {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    margin: 0 -20px;
    padding: 0;
}

#menushka li {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
}

#menushka>li:first-child,
#menushka>li:last-child {
    flex-grow: 0;
    flex-shrink: 0;
}

#menushka>li:hover {
    background-color: #CCC;
}

#menushka>li:hover .submenu {
    display: block;
}

#menushka a {
    text-decoration: none;
    color: #000;
    display: block;

}

#menushka>li>a {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#menushka .submenu {
    background: #CCC;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    margin-top: 59px;
    margin-left: -40px;
    z-index: 100;
}

#menushka ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#menushka .submenu ul li {
    background-color: #CCC;
    padding: 0;
}

#menushka .submenu ul li a {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#menushka .submenu ul li:hover {
    background-color: orange;
}

#menushka .submenu ul li .text {
    font-size: 13px;
}

/******HOME-CONTENT--------*/
#home-slider {
    overflow: hidden;
}

#home-slider a img {
    width: 100%;
    height: auto;
}
#home-slider .slick-dots{
    bottom: 25px;
    z-index: 100;
}
#home-slider .slick-dots li button{
    width: 30px;
    height: 30px;
}
#home-slider .slick-dots li button:before{
    color: red;
    width: 30px;
    height: 30px;
    font-size: 16px;
}
#home-slider .slick-dots li.slick-active button:before{
    color: blue;
    font-size: 20px;
}

.ispuda{
    color: #000;
}

.three-buttons {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.three-buttons a{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.three-buttons a:first-child{
    border: solid #CCC 1px;
}

.three-buttons a:hover{
    border: solid #CCC 1px;
}